<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTm7uOaEeX3KKHBaXZVXTf3rTNrzsO6bE</string>
	<key>GCM_SENDER_ID</key>
	<string>181066993460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ende.app</string>
	<key>PROJECT_ID</key>
	<string>appalumno-f6010</string>
	<key>STORAGE_BUCKET</key>
	<string>appalumno-f6010.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181066993460:ios:73ed63b829f4d903f4df61</string>
</dict>
</plist>